<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['inicio']">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['inicio']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['usuario']">Usuario</a>
          </li>
        </ul>
      </div>
      <span class="navbar-text">
        <div *ngIf="usuario">
          <div class="row">
            <div class="col-sm-12">
              <img width="25%" [src]="usuario.picture" alt=""> 
            </div>
            <div class="col-sm-12">
              {{usuario.name}}
            </div>
          </div>
        </div>
        <button *ngIf="!estaLogeado" 
        class="btn btn-primary" (click)="login()">Login</button>
        <button *ngIf="estaLogeado" 
        class="btn btn-danger" (click)="logout()">Logout</button>
      </span>
    </div>
  </nav>
{{usuario | json}}
  <router-outlet></router-outlet>
</div>
